:root {
  --f: var(--mf);

  --W0: 255, 255, 255;
  --color-W0: rgba(var(--W0), 1);
  --color-W1-a: rgba(var(--W0), 0.89);
  --color-W2-a: rgba(var(--W0), 0.62);
  --color-W3-a: rgba(var(--W0), 0.37);
  --color-W4-a: rgba(var(--W0), 0.22);
  --color-W5-a: rgba(var(--W0), 0.12);
  --color-W6-a: rgba(var(--W0), 0.05);

  --D0: 17, 26, 114;
  --color-D0: rgba(var(--D0), 1);
  --color-D1-tint-a: rgba(var(--D0), 0.89);
  --color-D2-tint-a: rgba(var(--D0), 0.69);
  --color-D3-tint-a: rgba(var(--D0), 0.32);
  --color-D4-tint-a: rgba(var(--D0), 0.12);
  --color-D5-tint-a: rgba(var(--D0), 0.04);

  --D1: 7, 11, 49;
  --color-D1-a: rgba(var(--D1), 0.95);
  --color-D2-a: rgba(var(--D1), 0.6);
  --color-D3-a: rgba(var(--D1), 0.3);
  --color-D4-a: rgba(var(--D1), 0.2);
  --color-D5-a: rgba(var(--D1), 0.1);

  --color-D1: rgba(43, 51, 130, 1);
  --color-D2: rgba(91, 97, 158, 1);
  --color-D3: rgba(179, 182, 210, 1);
  --color-D4: rgba(226, 228, 238, 1);
  --color-D5: rgba(245, 246, 249, 1);
  --color-D0-1: rgba(11, 16, 72, 1);
  --color-D0-2: rgba(var(--D1), 1);

  --A0: 53, 18, 193;
  --color-A0: rgba(var(--A0), 1);
  --color-A1-tint-a: rgba(var(--A0), 0.86);
  --color-A2-tint-a: rgba(var(--A0), 0.66);
  --color-A3-tint-a: rgba(var(--A0), 0.36);
  --color-A4-tint-a: rgba(var(--A0), 0.14);
  --color-A5-tint-a: rgba(var(--A0), 0.05);

  --color-A1: rgba(81, 51, 202, 1);
  --color-A2: rgba(122, 99, 214, 1);
  --color-A3: rgba(182, 170, 233, 1);
  --color-A4: rgba(227, 222, 246, 1);
  --color-A5: rgba(245, 243, 252, 1);
  --color-A0-1: rgba(49, 17, 178, 1);
  --color-A0-2: rgba(32, 11, 116, 1);
  --color-A1-a: rgba(32, 11, 116, 0.66);
  --color-A0-3: rgba(38, 13, 139, 1);

  --B0: 117, 10, 179;
  --color-B0: rgba(var(--B0), 1);
  --color-B1-tint-a: rgba(var(--B0), 0.55);
  --color-B2-tint-a: rgba(var(--B0), 0.25);
  --color-B3-tint-a: rgba(var(--B0), 0.12);
  --color-B4-tint-a: rgba(var(--B0), 0.6);
  --color-B5-tint-a: rgba(var(--B0), 0.03);

  --color-B1: rgba(179, 120, 213, 1);
  --color-B2: rgba(221, 194, 236, 1);
  --color-B3: rgba(238, 226, 246, 1);
  --color-B4: rgba(247, 240, 250, 1);
  --color-B5: rgba(251, 248, 253, 1);
  --color-B0-1: rgba(64, 6, 98, 1);
  --color-B0-2: rgba(54, 5, 82, 1);

  --color-E0: rgba(0, 56, 255, 1);
  --color-E1: rgba(227, 43, 62, 1);
  --color-E1-a: rgba(227, 43, 62, 0.18);
  --color-E2: rgba(6, 167, 125, 1);
  --color-E3: rgb(0, 120, 255, 1);

  --color-G0: linear-gradient(
    180deg,
    rgba(var(--D1), 1) 53%,
    rgba(var(--D1), 0.31) 99%
  );
  --color-G1: linear-gradient(
    198deg,
    rgba(var(--A0), 1) 47%,
    rgba(var(--B0), 1) 100%
  );
  --color-G2: linear-gradient(
    198deg,
    rgba(var(--A0), 1) 47%,
    rgba(var(--B0), 1) 99%
  );
  --color-G3: linear-gradient(
    208deg,
    rgba(var(--A0), 1) 13%,
    rgba(var(--B0), 1) 100%
  );
  --color-G4: linear-gradient(
    90deg,
    rgba(var(--W0), 0) 0%,
    var(--color-A3) 10%,
    var(--color-A3) 90%,
    rgba(var(--W0), 0) 100%
  );
  --color-G5: linear-gradient(
    180deg,
    rgba(var(--W0), 0.85) 0%,
    rgba(var(--W0), 1) 100%
  );
  --color-G6: linear-gradient(
    221deg,
    rgba(var(--W0), 0.6) -12.35%,
    rgba(var(--W0), 0.12) 34.86%,
    rgba(var(--W0), 0) 53.89%
  );

  --branded-title-color: var(--color-A0);

  --pr-association-popup-ico: var(--color-A0);
  --pr-association-popup-ico-bg: var(--color-A5);

  --cta-transperancy-background: var(--color-A0-a);
  --cta-transperancy-text-color: var(--color-A1);
  --cta-active-transperancy-background: var(--color-A1);
  --cta-transperancy-border: var(--color-A4);
  --cta-active-transperancy-border: var(--color-A5);

  --cta-primary-background: var(--color-A0);
  --cta-primary-text-color: var(--color-W0);
  --cta-active-primary-background: var(--color-A0-1);

  --cta-dark-primary-background: var(--color-W0);
  --cta-dark-primary-text-color: var(--color-A0);
  --cta-active-dark-primary-background: var(--color-B1-tint-a);

  --cta-secondary-background: var(--color-A5);
  --cta-active-secondary-background: var(--color-A4-tint-a);
  --cta-secondary-text-color: var(--color-A0);
  --cta-dark-secondary-background: var(--color-W5-a);
  --cta-dark-secondary-text-color: var(--color-W0);
  --cta-dark-active-secondary-background: var(--color-W3-a);
  --cta-dark-disabled-secondary-background: var(--color-W6-a);
  --cta-dark-disabled-secondary-text-background: var(--color-W0);

  --checkbox-primary-color: var(--color-A0);
  --checkbox-secondary-color: var(--color-A5);
}

:root[theme='mt'] {
  --f: var(--tf);

  --A0: 197, 14, 33;

  --color-A1: rgba(205, 48, 64, 1);
  --color-A2: rgba(217, 96, 108, 1);
  --color-A3: rgba(234, 168, 175, 1);
  --color-A4: rgba(247, 221, 224, 1);
  --color-A5: rgba(252, 243, 244, 1);
  --color-A0-1: rgba(181, 13, 30, 1);
  --color-A0-2: rgba(118, 8, 20, 1);
  --color-A1-a: rgba(118, 8, 20, 0.66);
  --color-A0-3: rgba(142, 10, 24, 1);

  --B0: 181, 12, 37;

  --color-B1: rgba(214, 121, 135, 1);
  --color-B2: rgba(237, 194, 201, 1);
  --color-B3: rgba(246, 226, 229, 1);
  --color-B4: rgba(251, 240, 242, 1);
  --color-B5: rgba(253, 248, 248, 1);
  --color-B0-1: rgba(100, 7, 20, 1);
  --color-B0-2: rgba(83, 6, 17, 1);

  --D0: 10, 10, 1;
  --D1: 4, 4, 0;

  --color-D1: rgba(37, 37, 29, 1);
  --color-D2: rgba(86, 86, 80, 1);
  --color-D3: rgba(177, 177, 174, 1);
  --color-D4: rgba(226, 226, 225, 1);
  --color-D5: rgba(245, 245, 245, 1);
  --color-D0-1: rgba(6, 6, 1, 1);

  --color-E0: rgba(120, 29, 43, 1);
}
:root[theme='at'] {
  --A0: 33, 28, 92;

  --color-A1: rgba(64, 60, 115, 1);
  --color-A2: rgba(108, 105, 147, 1);
  --color-A3: rgba(175, 173, 196, 1);
  --color-A4: rgba(224, 223, 232, 1);
  --color-A5: rgba(244, 244, 247, 1);

  --color-A0-1: rgba(33, 28, 92, 1);
  --color-A0-2: rgba(33, 28, 92, 1);
  --color-A1-a: rgba(33, 28, 92, 0.66);
  --color-A0-3: rgba(33, 28, 92, 1);

  --B0: 67, 57, 188;
  --color-B1: rgba(152, 146, 218, 1);
  --color-B2: rgba(208, 206, 238, 1);
  --color-B3: rgba(232, 231, 247, 1);
  --color-B4: rgba(244, 243, 251, 1);
  --color-B5: rgba(249, 249, 253, 1);
  --color-B0-1: rgba(37, 31, 103, 1);
  --color-B0-2: rgba(31, 26, 86, 1);

  --D0: 10, 10, 0;
  --D1: 4, 4, 0;
  --color-D1: rgba(37, 37, 28, 1);
  --color-D2: rgba(86, 86, 79, 1);
  --color-D3: rgba(177, 177, 173, 1);
  --color-D4: rgba(226, 226, 224, 1);
  --color-D5: rgba(245, 245, 245, 1);
  --color-D0-1: rgba(6, 6, 0, 1);

  --color-F0: rgba(189, 40, 37, 1);

  --branded-title-color: var(--color-F0);

  --pr-association-popup-ico: var(--color-F0);
  --pr-association-popup-ico-bg: var(--color-F5);

  --cta-transperancy-background: var(--color-A0-a);
  --cta-transperancy-text-color: var(--color-F0);
  --cta-active-transperancy-background: var(--color-F0);
  --cta-transperancy-border: var(--color-F4);
  --cta-active-transperancy-border: var(--color-F5);

  --cta-primary-background: var(--color-F0);
  --cta-primary-text-color: var(--color-W0);
  --cta-active-primary-background: var(--color-F0-1);
  --cta-dark-primary-background: var(--color-F0);
  --cta-dark-primary-text-color: var(--color-W0);
  --cta-active-dark-primary-background: var(--color-F0-1);

  --cta-secondary-background: var(--color-F0);
  --cta-active-secondary-background: var(--color-W5-tint-a);
  --cta-secondary-text-color: var(--color-W0);
  --cta-dark-secondary-background: var(--color-W5-a);
  --cta-dark-active-secondary-background: var(--color-W6-a);
  --cta-dark-disabled-secondary-background: var(--color-W6-a);
  --cta-dark-secondary-text-color: var(--color-W0);

  --cta-dark-disabled-secondary-text-background: var(--color-W3-a);

  --checkbox-primary-color: var(--color-F0);
  --checkbox-secondary-color: var(--color-F5);
}

:root[theme='sdsp'] {
  --color-A0: #e95d20;
  --color-A0-1: #e95d20;
  --color-A0-2: #e95d20;
  --color-A0-3: #d5481f;
  --color-D0: #151212;
  --color-D1: #2f2c2c;

  --color-D2: #5e5b5b;
  --color-D2-tint-a: rgba(10, 10, 1, 0.69);

  --color-D3: #b4b3b3;

  --color-D4: #e3e3e3;

  --color-D5: #f6f6f6;

  --color-A2: #f09973;

  --color-A3: #f7c7b3;
  --color-A3-tint-a: rgba(233, 100, 43, 0.36);
  --color-A2-tint-a: rgba(233, 100, 43, 0.36);
  --color-A4: #fce9e1;

  --color-A5: #fef7f4;

  --color-B0: #e84210;

  --color-E0: #f47f4e;
  --color-E1: #f47f4e;
  --color-E2: #f47f4e;
  --color-5-a: #e84210;
  --color-G1: linear-gradient(198deg, #e84210 47%, #f47f4e 100%);
  --color-G2: #e95d20;

  --color-G3: #e95d20;
  --color-W0: #ffffff;
}

:root[theme='sdz'] {
  --A0: 103, 164, 50;
  --color-A0-1: #6ead3b;
  --color-A0-2: #6ead3b;
  --color-A0-3: #6ead3b;
  --color-D0: #151212;
  --color-D1: #2f2c2c;

  --color-D2: #5e5b5b;
  --color-D2-tint-a: rgba(10, 10, 1, 0.69);

  --color-D3: #b4b3b3;

  --color-D4: #e3e3e3;

  --color-D5: #f6f6f6;

  --color-A2: #a9d78c;

  --color-A3: #d0e9c0;
  --color-A3-tint-a: rgba(125, 194, 81, 0.36);
  --color-A2-tint-a: rgba(125, 194, 81, 0.36);
  --color-A4: #edf6e7;

  --color-A5: #f9fcf6;

  --color-B0: #68c323;

  --color-E0: #81d03f;
  --color-E1: #81d03f;
  --color-E2: #81d03f;
  --color-G0: #81d03f;
  --color-G1: linear-gradient(198deg, #81d03f 47%, #7dc251 100%);
  --color-G2: #7dc251;
  --color-G3: #81d03f;
  --color-W0: #ffffff;
}

:root[theme='ll'],
:root[theme='llca'],
:root[theme='llfl'],
:root[theme='llny'] {
  --A0: 255, 184, 0;

  --color-A1: rgba(255, 194, 36, 1);
  --color-A2: rgba(255, 208, 87, 1);
  --color-A3: rgba(255, 229, 163, 1);
  --color-A4: rgba(255, 245, 219, 1);
  --color-A5: rgba(255, 251, 242, 1);
  --color-A0-1: rgba(253, 174, 4, 1);
  --color-A0-2: rgba(243, 134, 22, 1);
  --color-A1-a: rgba(243, 134, 22, 0.66);
  --color-A0-3: rgba(246, 149, 15, 1);

  --B0: 255, 221, 79;

  --color-B0: rgba(var(--B0), 1);
  --color-B1-tint-a: rgba(var(--B0), 0.77);
  --color-B2-tint-a: rgba(var(--B0), 0.63);
  --color-B3-tint-a: rgba(var(--B0), 0.54);
  --color-B4-tint-a: rgba(var(--B0), 0.43);
  --color-B5-tint-a: rgba(var(--B0), 0.27);

  --color-B1: rgba(255, 229, 119, 1);
  --color-B2: rgba(255, 234, 144, 1);
  --color-B3: rgba(255, 237, 160, 1);
  --color-B4: rgba(255, 240, 179, 1);
  --color-B5: rgba(255, 246, 207, 1);
  --color-B0-1: rgba(161, 139, 50, 1);
  --color-B0-2: rgba(110, 95, 34, 1);

  --D0: 10, 10, 1;
  --D1: 4, 4, 0;

  --color-D1: rgba(37, 37, 28, 1);
  --color-D2: rgba(86, 86, 79, 1);
  --color-D3: rgba(177, 177, 173, 1);
  --color-D4: rgba(226, 226, 224, 1);
  --color-D5: rgba(245, 245, 245, 1);
  --color-D0-1: rgba(6, 6, 0, 1);

  --color-E0: rgba(255, 179, 0, 1);
}

:root[theme='tp'] {
  --A0: 31, 74, 150;

  --color-A1: rgba(62, 99, 165, 1);
  --color-A2: rgba(107, 136, 186, 1);
  --color-A3: rgba(174, 190, 217, 1);
  --color-A4: rgba(224, 230, 240, 1);
  --color-A5: rgba(244, 246, 250, 1);
  --color-A0-1: rgba(29, 68, 138, 1);
  --color-A0-2: rgba(19, 44, 90, 1);
  --color-A1-a: rgba(19, 44, 90, 0.66);
  --color-A0-3: rgba(22, 53, 108, 1);

  --B0: 42, 100, 203;

  --color-B1: rgba(138, 170, 226, 1);
  --color-B2: rgba(202, 216, 242, 1);
  --color-B3: rgba(229, 236, 249, 1);
  --color-B4: rgba(242, 246, 252, 1);
  --color-B5: rgba(249, 250, 253, 1);
  --color-B0-1: rgba(23, 55, 112, 1);
  --color-B0-2: rgba(19, 46, 93, 1);

  --D0: 10, 10, 1;
  --D1: 4, 4, 0;

  --color-D1: rgba(37, 37, 28, 1);
  --color-D2: rgba(86, 86, 79, 1);
  --color-D3: rgba(177, 177, 173, 1);
  --color-D4: rgba(226, 226, 224, 1);
  --color-D5: rgba(245, 245, 245, 1);
  --color-D0-1: rgba(6, 6, 0, 1);
}

:root[theme='hp'] {
  --A0: 26, 46, 78;

  --color-A1: rgba(58, 75, 103, 1);
  --color-A2: rgba(104, 117, 138, 1);
  --color-A3: rgba(173, 180, 191, 1);
  --color-A4: rgba(223, 226, 230, 1);
  --color-A5: rgba(244, 245, 246, 1);
  --color-A0-1: rgba(24, 42, 72, 1);
  --color-A1-a: rgba(16, 28, 47, 0.66);
  --color-A0-2: rgba(16, 28, 47, 1);
  --color-A0-3: rgba(19, 33, 56, 1);

  --B0: 26, 57, 99;

  --color-B1: rgba(129, 146, 169, 1);
  --color-B2: rgba(198, 206, 216, 1);
  --color-B3: rgba(228, 231, 236, 1);
  --color-B4: rgba(241, 243, 246, 1);
  --color-B5: rgba(248, 249, 250, 1);
  --color-B0-1: rgba(14, 31, 54, 1);
  --color-B0-2: rgba(12, 26, 46, 1);

  --D0: 10, 10, 0;
  --D1: 4, 4, 0;

  --color-D1: rgba(37, 37, 28, 1);
  --color-D2: rgba(86, 86, 79, 1);
  --color-D3: rgba(177, 177, 173, 1);
  --color-D4: rgba(226, 226, 224, 1);
  --color-D5: rgba(245, 245, 245, 1);
  --color-D0-1: rgba(6, 6, 0, 1);

  --color-E0: rgba(38, 77, 110, 1);
}
