@import './color-scheme.css';

:root {
  --maxWidth: 550px;
  --screenHeight: calc(var(--vh, 1vh) * 100);
  --headerHeight: 60px;

  --pagePaddingLeftRight: 20px;
  --pagePaddingTopBottom: 20px;

  /* Fonts */
  --mf: 'Muli';
  --tf: 'Taviraj';
}
